shoppingapp/build
shoppingapp/.dart_tool
shoppingapp/android
shoppingapp/ios
shoppingapp/macos
shoppingapp/linux
shoppingapp/web
shoppingapp/windows

expenses/build
expenses/.dart_tool
expenses/android
expenses/ios
expenses/macos
expenses/linux
expenses/web
expenses/windows

basicapp/build
basicapp/.dart_tool
basicapp/android
basicapp/ios
basicapp/macos
basicapp/linux
basicapp/web
basicapp/windows

chatapp/build
chatapp/.dart_tool
chatapp/android
chatapp/ios
chatapp/macos
chatapp/linux
chatapp/web
chatapp/windows

