shoppingapp/android
shoppingapp/ios
shoppingapp/macos
shoppingapp/linux
shoppingapp/web
shoppingapp/windows

expenses/android
expenses/ios
expenses/macos
expenses/linux
expenses/web
expenses/windows

basicapp/android
basicapp/ios
basicapp/macos
basicapp/linux
basicapp/web
basicapp/windows

chatapp/android
chatapp/ios
chatapp/macos
chatapp/linux
chatapp/web
chatapp/windows

